.fixed {
  margin-left: 17px;
  width: 250px;
  max-height: 250px;
  aspect-ratio: 1/1;
  border-radius: 30px;
  overflow: hidden;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 0.5s ease;
}

img:hover {
  transform: scale(1.2);
}
